apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deployment
  labels:
    patch-post-sync: "true"
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
      annotations:
        resize-container-resources/nginx-container: "true"
        resize-container-ratio/nginx-container: "50%"
    spec:
      containers:
      - name: nginx-container
        image: nginx:1.14.2
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: 300Mi
            cpu: 300m
          requests:
            memory: 100Mi
            cpu: 100m
