apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-deployment
  labels:
    patch-post-sync: "true"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: nginx-container
        image: nginx:1.14.2
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: 1
            cpu: 100m
          requests:
            memory: 100Mi
            cpu: 100m
